PORT=5000
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/logisticsdb?retryWrites=true&w=majority
JWT_SECRET=someRandomSecretStringForJWT
JWT_EXPIRE=30d
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
